.align{
    flex: 1 1 auto;
}
.tool{
    margin: 2px 0 5px 2px;
    box-shadow: 2px coral;
}
.add{
    position: fixed;
    bottom: 20px;
    right:15px;
}
#id{
    display: none;
}
table{
    width: 80%;
    margin: 30px 30px 30px 10%;
    background-color: #f1f1f1;
}
th{
    text-align: center;
    padding: 10px;
    margin: 5px;
}
td{
    text-align: center;
    padding: 10px;
    margin: 5px;
}
mat-card{
    margin: 5% 0 10% 25%;
    width: 50%;
}
input{
    width:100%
}
